/*Just something small to neaten it up.*/
body {
  background-color: gray;
  text-align: center;
}

.HangmanWord {
  margin: 10px;
  word-spacing: 100px;
}

p {
  color: black;
  margin: 10px;
  letter-spacing: 10px;
}

img{
  margin: 5vw;
  border: 10px solid black;
}

button {
  background-color: black;
  color: white;
  margin: 5px;
  width: 10%;
  height: 10%;
}

header{
  background-color: white;
}